* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    line-height: 1.5;
}

html,
body {
    height: 100%;
    margin: 0;
    width: 100%;
    padding: 0;
}

.bg-div {
    background-color: #333;
    display: flex;
    color: #fff;
    padding: 20px;
    flex-direction: column;
}

.bg-div h1 {
    margin: 0;
    align-self: center;
}

.section-div {
    display: flex;
    padding: 3rem;
    align-items: center;
    min-height: 70vh;
}

.sensor-div {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex: .33;
}

.pulse {
    position: relative;
    width: 150px;
    height: 150px;
    background-image: url('piezo.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    align-self: center;
}

.pulse span {
    position: absolute;
    width: 100%;
    height: 100%;
    background: inherit;
    border-radius: inherit;
    opacity: .8;
    animation: pulseAnimate 2s ease-out infinite;
}

@keyframes pulseAnimate {

    50% {
        opacity: 0;
        transform: scale(var(--scaleFactor, 1.5));
    }

    100% {
        opacity: 0;
        transform: scale(1);
    }
}

.heart-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pulse-heart {
    width: 150px;
    height: 150px;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-name: pulse;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.box {
    width: 150px;
    height: 150px;
    border: 10px solid #ccc;
    border-radius: 10px;
    text-align: center;
    position: relative;
    align-self: center;
    overflow: hidden;
}

.box:before {
    content: "";
    position: absolute;
    width: 400px;
    height: 400px;
    background: #00acee;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 40%;
    animation: fill 7s ease-in-out infinite;
}

@keyframes fill {
    from {
        top: 250px;
        transform: translateX(-50%) rotate(0deg);
    }

    to {
        top: -50px;
        transform: translateX(-50%) rotate(360deg);
    }
}